{% extends 'base_publico.html'%}

{% block body%}
<div>
    <span>Nome: </span>
    <span>{{cliente.nome}}</span>
</div>
<div class="tabs">
    <ul>
        <li data-tab-id="tab-contatos" class="is-active"><a>Contatos</a></li>
        <li data-tab-id="tab-enderecos"><a>Endereços</a></li>
    </ul>
</div>
<div id="tab-contatos" class="tab-content active">
    {% include 'clientes/tabs/tab-contatos.html'%}
</div>

<div id="tab-enderecos" class="tab-content">
    Olá mundo
</div>


{% load static %}
<script src="{% static 'js/cliente-contato.js' %}"></script>

{%endblock%}