<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="title has-text-success">SPW</span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" href="/interno">
            <strong>Interno</strong>
          </a>
        </div>
      </div>
    </div>
    
  </nav>
  <section class="section">
    <div class="container">
    </div>
  </section>
  <script src="https://kit.fontawesome.com/96a844a27d.js" crossorigin="anonymous"></script>
</body>

</html>