<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/tabs.css'%}">

    {% block css %} {% endblock %}

</head>

<body>
    {% include 'navbar.html'%}
    <section class="section">
        <div class="container">
            {% if registro_criado %}
                <div>{{ registro_criado_mensagem }}</div>
                {% endif %}
            {% block body %} {% endblock %}

        </div>
    </section>
    <script src="https://kit.fontawesome.com/54a2c7ee99.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    {%block scripts%}{%endblock%}
</body>

</html>