<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exemplos_basicos/contato.css' %}">
</head>
<body>
    <a href="home">Home</a>
    <h1>Jorginho Melo</h1>
    <ul>
        <li>Telefone: 47 9999-9999</li>
        <li>Email: jorginhomelo@gmail.com</li>
        <li>Github: jorginhomelo</li>
        <li>Canal no Youtbe: https://youtube.com/jorginhomelo</li>
    </ul>
</body>
</html>